<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Agendas</title>
</head>
<body>
<h1>Lista de Agendas</h1>
<table>
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Data</th>
        <th>Cliente</th>
        <th>Status</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="agenda : ${agendas}">
        <td th:text="${agenda.descricao}"></td>
        <td th:text="${agenda.data}"></td>
        <td th:text="${agenda.cliente.nome}"></td>
        <td th:text="${agenda.status ? 'Realizada' : 'Não realizada'}"></td>
        <td>
            <a th:href="@{/agenda/detalhes/{id}(id=${agenda.id})}">Detalhes</a> |
            <a th:href="@{/agenda/excluir/{id}(id=${agenda.id})}">Excluir</a> |
            <a th:href="@{/agenda/realizar/{id}(id=${agenda.id})}">Marcar como Realizada</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/agenda/novo">Adicionar Nova Agenda</a>
</body>
</html>
