<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Agenda</title>
</head>
<body>
<h1>Detalhes da Agenda</h1>
<p><strong>Descrição:</strong> <span th:text="${agenda.descricao}"></span></p>
<p><strong>Data:</strong> <span th:text="${agenda.data}"></span></p>
<p><strong>Cliente:</strong> <span th:text="${agenda.cliente.nome}"></span></p>
<p><strong>Funcionário:</strong> <span th:text="${agenda.funcionario.nome}"></span></p>
<p><strong>Status:</strong> <span th:text="${agenda.status ? 'Realizada' : 'Não realizada'}"></span></p>

<div th:if="${!agenda.status}">
    <a th:href="@{/agenda/realizar/{id}(id=${agenda.id})}">Marcar como Realizada</a>
</div>

<a href="/agenda/listar">Voltar para a Lista de Agendas</a>
</body>
</html>
